PORT=5001

# DATABASE VARIABLES
DB_HOST=127.0.0.1
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=3306

# MAILTRAP CREDENTIALS 
EMAIL_HOST=sandbox.smtp.mailtrap.io
EMAIL_PORT=2525
EMAIL_USER=
EMAIL_PASS=

# JWT SECRET KEY
JWT_SECRET=